mat-tab-group {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

h2 {
    margin-top: 15px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
    margin-top: 50px;
}
  
#flex-container > .flex-item {
    flex: initial;
}

.search {
    min-width: 40%;
}